.about-us {
    background-image: linear-gradient(to right, rgba(69, 123, 157, 1),
        rgba(73, 170, 127, 1));
    margin-top: 25px;
    padding-bottom: 30px;
}

.about-us h1 {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    color: #1D3557;
    padding-top: 15px;
}

.about-us-div {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}

.about-us-div .left-div {
    width: 50%;
    text-align: left;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-us-div .left-div p {
    color: rgba(241, 250, 238, 0.9);
}

.social-icons img {
    width: 50px;
    height: 50px;
    filter: invert(100%);
    margin-right: 20px;
}

.about-us-div .right-div {
    width: 50%;
    text-align: right;
    padding-right: 40px;
}

.right-div img {
    width: 250px;
    height: 250px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, .5);
}

/* media queries */
@media(max-width:768px){
    .about-us-div{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: auto;
    }
    .about-us-div .right-div{
        width: auto;
        text-align: center;
        padding: 0px;
    }
    .about-us-div .left-div {
        width: auto;
        text-align: center;
        padding: 0px 20px;
        margin-top: 20px;
    }
    .social-icons{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .social-icons img {
        margin-right: 0px;
    }
}