@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

nav{
    background-color: rgb(230, 57, 70);
}
.navbar-light .navbar-brand{
    color: #fff;
    font-family: 'Rock Salt', cursive;
}
.navbar-expand-lg .navbar-nav .nav-link{
    color: #fff;
    padding: 0px;
    margin-left: 20px;
    font-weight: bold;
}
.navbar-light .navbar-toggler{
    background-color: #fff;
}